// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        robot {
            bindings = <&robot>;
            key-positions = <1 2 3 4 31 32 5 6 7 8>;
            timeout-ms = <200>;
            require-prior-idle-ms = <200>;
        };

        russian_x {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <8 9>;
            layers = <3>;
        };

        russian_e {
            bindings = <&kp SQT>;
            key-positions = <18 19>;
        };

        switch_to_english {
            bindings = <&sl 0>;
            key-positions = <10 11>;
            layers = <3>;
        };

        change_language {
            bindings = <&change_language>;
            key-positions = <20 31>;
        };
    };

    macros {
        robot: robot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp FSLH &kp SPACE &kp LBKT &kp SPACE &kp CARET &kp MINUS &kp CARET &kp RBKT &kp UNDER &kp POUND &kp POUND>;
            label = "ROBOT";
        };

        change_language: change_language {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LEFT_SHIFT) &tog 3>;
            label = "CHANGE_LANGUAGE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q         &kp W       &kp E        &kp R        &kp T            &kp Y      &kp U           &kp I      &kp O    &kp P
&ht LSHIFT A  &ht LALT S  &ht LCTRL D  &ht LGUI F   &kp G            &kp H      &kp J           &kp K      &kp L    &kp SEMICOLON
&kp Z         &kp X       &kp C        &kp V        &kp B            &kp N      &kp M           &kp COMMA  &kp DOT  &kp FSLH
                                       &lt 1 SPACE  &kp BACKSPACE    &kp ENTER  &lt 2 CAPSLOCK
            >;
        };

        simvols_layer {
            bindings = <
&kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4      &kp N5               &kp NUMBER_6   &kp N7          &kp N8           &kp N9                &ht BACKSPACE N0
&kp EXCLAMATION  &kp QUESTION  &kp AT_SIGN   &kp POUND         &kt PERCENT          &kp AMPERSAND  &kp ASTERISK    &kp MINUS        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp TAB          &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &kp BACKSLASH  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp COLON             &kp APOSTROPHE
                                             &trans            &trans               &trans         &trans
            >;
        };

        vim {
            bindings = <
&kp ESCAPE  &kp COLON  &kp SLASH  &kp QUESTION  &kp BACKSLASH    &kp HOME   &kp PAGE_UP  &trans  &trans  &kp END
&kp Q       &kp W      &trans     &trans        &trans           &kp H      &kp J        &kp K   &kp L   &kp PAGE_DOWN
&trans      &trans     &trans     &trans        &trans           &trans     &trans       &trans  &trans  &trans
                                  &kp SPACE     &kp BACKSPACE    &kp LCTRL  &kp ENTER
            >;
        };

        russian {
            bindings = <
&kp Q  &kp W  &kp E  &kp R           &ht GRAVE T        &kp Y      &kp U          &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &kp F           &kp G              &kp H      &kp J          &kp K      &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C  &kp V           &kp B              &kp N      &kp M          &kp COMMA  &kp PERIOD  &ht QUESTION RIGHT_BRACKET
                     &kp LEFT_SHIFT  &ht LCTRL ENTER    &kp SPACE  &kp BACKSPACE
            >;
        };
    };
};
